* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

iframe {
  width: 100%;
}

.header {
  font-family: "San Francisco Pro Display Light";
  color: #204B59;
  padding: 16px 0;
}
.header a {
  color: #204B59;
}

.header__burger {
  display: none;
  margin: 0 0 0 auto;
}
.header__burger span {
  display: block;
  width: 32px;
  height: 4px;
  margin: 0 0 4px 0;
  background: #204B59;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 36px;
  height: 44px;
}

.logo__text {
  max-width: 105px;
  font-size: 19px;
  line-height: 22.5px;
  margin: 0 0 0 10px;
}

.menu {
  margin-left: auto;
  font-size: 16px;
}

.menu__item {
  display: inline-block;
  margin: 0 22px 0 0;
  line-height: 19px;
}
.menu__item:last-child {
  margin: 0;
}

.menu__item.mail {
  position: relative;
  bottom: 1px;
}

.menu__link.phone {
  padding: 0 0 0 19.5px;
  background: url(../img/icons/header-phone.svg) no-repeat left center;
  background-size: 11px 18px;
}

.menu__link.mail {
  padding: 0 0 0 21px;
  background: url(../img/icons/header-mail.svg) no-repeat left top 5px;
  background-size: 14px 12px;
}

.menu__link.dealer {
  padding: 12px 10px;
  border: 1px solid #204B59;
}

.footer {
  padding: 15px 0;
}
.footer a {
  color: #204B59;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts .menu__item {
  display: block;
  text-align: right;
  margin: 0 0 5px 0;
}
.footer__contacts .menu__item:last-child {
  margin: 0;
}

.footer__contacts .menu__link.mail {
  background: url(../img/icons/header-mail.svg) no-repeat left top 4px;
}

@font-face {
  font-family: "San Francisco Pro Display Light";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #fffff6;
  font-family: "San Francisco Pro Display Light";
  color: #204B59;
}

h1 {
  font-size: 48px;
  line-height: 57px;
}

h2 {
  font-size: 48px;
  line-height: 57px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-block {
  margin: 40px 0 57px 0;
  position: relative;
}

.main-img__box {
  max-width: 993px;
}
.main-img__box img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__text {
  position: absolute;
  right: 0;
  top: 80px;
  text-align: right;
}

.link__btn {
  font-family: "Open Sans Regular";
  color: #fff;
  display: inline-block;
  background: #6FCF97;
  padding: 19px 46.5px;
  font-size: 24px;
}

.link-btn__box.main {
  margin: 100px 0 0 auto;
}

.advantages {
  background: url(../img/adv-img.png) no-repeat bottom 16px right;
  margin: 0 0 25px 0;
}

.advantages-list {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 0 0 0;
}

.advantages-list__item {
  font-size: 24px;
  line-height: 28.6px;
  padding: 0 0 0 66px;
  margin: 0 10px 5px 0;
  display: inline-block;
  position: relative;
}
.advantages-list__item:last-child {
  margin: 0;
}
.advantages-list__item.delivery {
  background: url(../img/icons/adv-delivery.svg) no-repeat left center;
  max-width: 367px;
}
.advantages-list__item.offers {
  background: url(../img/icons/adv-offers.svg) no-repeat left -3px center;
  padding: 30px 0 30px 63px;
}
.advantages-list__item.partners {
  max-width: 363px;
  background: url(../img/icons/adv-partners.svg) no-repeat left center;
}
.advantages-list__item.help {
  max-width: 310px;
  background: url(../img/icons/adv-help.svg) no-repeat left center;
}
.advantages-list__item.biggest {
  background: url(../img/icons/adv-biggest.svg) no-repeat left center;
  padding: 30px 0 30px 66px;
}

@media screen and (max-width: 1200px) {
  .menu {
    font-size: 14px;
  }

  .menu__item {
    margin: 0 9px 0 0;
  }

  .menu__link.mail {
    background: url(../img/icons/header-mail.svg) no-repeat left top 3px;
  }

  .main-img__box {
    max-width: 740px;
  }

  .advantages {
    background-size: 400px 261px;
  }

  .advantages-list__item {
    font-size: 20px;
  }

  .main-block__text {
    top: 35px;
  }

  .advantages-list__item.help {
    max-width: 271px;
  }
}
@media screen and (max-width: 1023px) {
  .header__menu {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .advantages {
    background: none;
  }

  .main-block {
    margin: 60px 0;
  }

  .main-block__text {
    top: 0px;
  }

  .link-btn__box.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 0 0;
  }

  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .main-link__btn {
    width: 100%;
    text-align: center;
  }

  .advantages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main-block__text {
    top: -41px;
  }

  .main-img__box {
    max-width: 540px;
  }

  .advantages__title {
    font-size: 24px;
    line-height: 36px;
  }

  .advantages-list__item.partners {
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 550px) {
  .header {
    padding: 7px 0;
  }

  .main-img__box {
    max-width: 231px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .footer__copy {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }

  .footer__contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .footer__logo {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .logo__icon {
    width: 27px;
    height: 34px;
  }

  .logo__text {
    font-size: 16px;
    max-width: 87px;
  }

  .link__btn {
    font-size: 18px;
    padding: 13px 12.5px;
  }

  .link-btn__box.main {
    margin: 30px 0 0 0;
  }

  .main-block {
    margin: 64px 0 57px 0;
  }

  .advantages {
    margin: 0 0 46px 0;
  }

  .advantages-list {
    margin: 14px 0 0 0;
  }

  .advantages-list__item {
    font-size: 18px;
    background-size: 36px 36px !important;
    padding: 0 0 0 46px;
    line-height: 23.6px;
  }
  .advantages-list__item.offers {
    padding: 15px 0 15px 46px;
    background: url(../img/icons/adv-offers.svg) no-repeat left center;
  }
  .advantages-list__item.biggest {
    padding: 6px 0 6px 46px;
  }
  .advantages-list__item.partners {
    margin: 0 0 10px 0;
  }
}